*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.out~
*.tex~
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bak
*.tex.bak
*.bbl
*.blg
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.nlo
*.ilg
*.nls
*.nls~

*.dvi
/_minted-main
